/***** HEADER NAV *****/

header {
  background: #000000;
}

#logo {

  display: block;
  margin-top: 5px;
}

.fa {
  font-size: 2rem;
  color: white;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav div ul li {
  list-style: none;
  font-size: 20px;
}

header nav div ul li a {

  color: #fff;
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 31px;
  border-left: solid 1px #333;
  border-right: solid 1px #333;
}

header nav div ul li a:hover {
  background: #222;
}

header nav div ul li a:active {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
}

#hero {
  background: #00c0ff;
  color: #000;
}

#hero-title {
  width: 520px;
  padding: 60px 0;
}

#call-to-action {
  margin: 30px 0 0 0;
}

#hero-image {

  margin: 30px 0 -50px 0;
}

#lead-in {
  margin-bottom: 40px;
}

#content {
  padding: 50px 0;
}

#secondary-cta {
  background: #eee;
  padding: 30px 0;
}

#secondary-cta h4 {
  font-size: 24px;
  font-weight: 200;
}

#secondary-cta form {
  margin: 0;
}

input[type="text"], input[type="email"] {
  /*position: relative;*/
  padding: 11px 10px;
  border: 1px solid #ccc;
  width: 220px;
  margin: 0 -5px 0 0;
}
